# AWS
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Local
FRAUD_ENV=dev

# Faker
TXN_INTERVAL_MIN=0.1
TXN_INTERVAL_MAX=0.5
FAKER_TARGET_URL=http://localhost:8000/pay

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_RAW=raw_transactions

# DynamoDB
DYNAMODB_TABLE_USER_FEATURES=user_features_v1

# S3
S3_BUCKET=fraud-lake-dev
S3_PATH_PREFIX=raw/

# Backend
BACKEND_PORT=8000
